<ul class="plan">
  <li class="plan-text">プランテキスト</li>
  <li class="price-outline">
    <div class="plan-price">
        <span class="yen">￥</span>
        <span class="five-thouthand">5,000</span>
      </div>
      <p class="monthly_amount">月額</p>
    </div>
  </li>
  <li class="basic_info">入会金0円</li>
  <li class="basic_info">平日:9時～17時</li>
  <li class="basic_info">土日祝:利用なし</li>
  <li class="basic_info">コアタイムでの利用に最適なプラン</li>
</ul>
<ul class="plan">
  <li class="plan-text">プランテキスト</li>
  <li class="price-outline">
    <div class="plan-price">
        <span class="yen">￥</span>
        <span class="five-thouthand">5,000</span>
      </div>
      <p class="monthly_amount">月額</p>
    </div>
  </li>
  <li class="basic_info">入会金0円</li>
  <li class="basic_info">平日:9時～17時</li>
  <li class="basic_info">土日祝:利用なし</li>
  <li class="basic_info">コアタイムでの利用に最適なプラン</li>
</ul>
