@use "../../variables" as *;
.organisms-events {
  padding-top: 20px;

  .news-wraper {
    margin: 0px 0px 32px;
    .news-title {
      font-family: $fontfamily-mincho;
      font-size: $font-sizeXXL;
      line-height: 57px;
      margin-right: 16px;
      .announcement {
        margin-top: 16px;
        font-size: $font-sizeM;
        line-height: 23px;
      }
    }
  }

  .event-outline {
    border-top: solid 1px $gray_gainsboro;

    .event-link {
      text-decoration: none;
      color: $black;
      &:first-child .date-and-event {
        border: solid 1px $gray_gainsboro;
      }
      article {
        display: flex;
        border-bottom: solid 1px $gray_gainsboro;
        border-left: solid 1px $gray_gainsboro;
        border-right: solid 1px $gray_gainsboro;
        background-color: $white;
        &:hover {
          .event-img {
            transform: scale(1.2);
          }
        }
        .events-img-wrapper {
          overflow: hidden;
          flex-shrink: 0;
          flex-wrap: nowrap;
          .event-img {
            transition-duration: 0.5s;
            object-fit: cover;
            width: 221.11px;
            height: 141px;
          }
        }

        .event-article-outline {
          padding: 26px 24px;

          .event-text {
            font-family: $fontfamily-gothic;
            font-size: $font-sizeM;
            line-height: 23px;
            margin-bottom: 8px;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .event-date {
            font-family: $fontfamily-mincho;
            font-size: $font-sizeXS;
            line-height: 12px;
            color: $gray_gainsboro;
          }
        }
      }
    }
  }

  .event-list-outline {
    text-align: right;
    margin-top: 30px;
    .event-list {
      text-decoration: none;
      color: $black;
      font-size: $font-sizeS;
      line-height: 20px;
      transition: ease 0.2s;
      i {
        margin-left: 16px;
      }
      &:hover {
        color: $gray_nobel;
      }
    }
  }
}

@media screen and (min-width: $breakpoints-md) {
  .event-img {
    display: none;
  }
}
