<div class="organisms-events">
  <div class="news-wraper">
    <h2 class="news-title">Event</h2>
    <p class="announcement">イベント</p>
  </div>
  <div class="event-outline">
    <a href="#" class="event-link">
      <article>
        <div class="events-img-wrapper">
          <img src="../../../img/2.png" class="event-img" alt="内装の写真" />
        </div>
        <div class="event-article-outline">
          <p class="event-text">
            全ての業種に対応した起業応援セミナーを開催します。
          </p>
          <time class="event-date">2018.08.23</time>
        </div>
      </article>
    </a>
    <a href="#" class="event-link">
      <article>
        <div class="events-img-wrapper">
          <img src="../../../img/1.png" class="event-img" alt="人とパソコン" />
        </div>
        <div class="event-article-outline">
          <p class="event-text">
            第3回&nbsp;Switchクリエイター交流会開催いたします!
          </p>
          <time class="event-date">2018.08.23</time>
        </div>
      </article>
    </a>
    <a href="#" class="event-link">
      <article>
        <div class="events-img-wrapper">
          <img src="../../../img/3.png" class="event-img" alt="本棚" />
        </div>
        <div class="event-article-outline">
          <p class="event-text">
            Webビジネス初心者の方必見!Webサイト作成講座を3回にわたって開催します。
          </p>
          <time class="event-date">2018.08.23</time>
        </div>
      </article>
    </a>
  </div>
  <div class="event-list-outline">
    <a class="event-list" href="#"
      >イベント一覧<i class="fas fa-chevron-right"></i
    ></a>
  </div>
</div>
