@use "../../variables" as *;
.organisms-events {
  padding-top: 20px;
  .news-wraper {
    margin-bottom: 32px;
  }
  .event-outline {
    border-top: solid 1px $gray_gainsboro;

    .event-link {
      text-decoration: none;
      color: $black;
      &:first-child .date-and-event {
        border: solid 1px $gray_gainsboro;
      }
      article {
        display: flex;
        border: solid 1px $gray_gainsboro;
        border-top-style: none;
        background-color: $white;
        &:hover {
          .event-img {
            transform: scale(1.2);
          }
        }
        .events-img-wrapper {
          overflow: hidden;
          .event-img {
            transition-duration: 0.5s;
            object-fit: cover;
            width: 221.11px;
            height: 141px;
            @media screen and (max-width: $breakpoints-lg) {
              display: none;
            }
          }
        }
      }
      .event-article-outline {
        padding: 26px 24px;
        overflow: hidden;
        .event-text {
          margin-bottom: 8px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &:hover {
            color: $orange_bistre;
          }
        }
        .event-date {
          font-size: $font-sizeXS;
          line-height: 12px;
          color: $gray_gainsboro;
        }
      }
    }
  }
  .event-list-outline {
    text-align: right;
    margin-top: 30px;
  }
}
