@use "../../variables" as *;
.news_list {
  font-size: $font-sizeS;
  line-height: 20px;
  color: $black;
  transition: ease 0.2s;

  i {
    margin-left: 16px;
  }

  &:hover {
    text-decoration: none;
    color: $gray_nobel;
  }
}
