<nav class="navbar navbar-expand-xl navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="../../../img/switch.png" alt="switch-logo" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapse"
    aria-controls="collapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span><img src="../../../img/humberger-icon.svg" /></span>
  </button>
  <!-- ここからがトグルで、ボタンを押した時に下にメニューが現れる!-->
  <div class="collapse navbar-collapse" id="collapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME</a>
      </li>
      <li class="nav-item active dropdown">
        <div class="nav-item-concept-top">
          <a class="nav-link concept">CONCEPT</a>
          <a
            class="nav-link float-right d-xl-none"
            href="#concept"
            role="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <img class="plus-img" src="../../../img/plus-icon.svg" />
          </a>
        </div>
        <!--コンセプトの中のトグル!-->
        <ul class="collapse submenu" id="concept">
          <a class="dropdown-item" href="#">ブログアーカイブ</a>
          <a class="dropdown-item" href="#">お知らせアーカイブ</a>
          <a class="dropdown-item" href="#">イベントアーカイブ</a>
          <a class="dropdown-item" href="#">インタビューアーカイブ</a>
          <a class="dropdown-item" href="#">FAQページ</a>
          <a class="dropdown-item" href="#">固定ページ(デフォルト)</a>
          <a class="dropdown-item" href="#">CONCEPT</a>
          <a class="dropdown-item" href="#">SERVICE</a>
          <a class="dropdown-item" href="#">FLOOR</a>
          <a class="dropdown-item" href="#">ACCESS</a>
        </ul>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">SERVICE</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">FLOOR</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">INTERVIEW</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">BLOG</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">ACCESS</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">DOWNLOAD</a>
      </li>
    </ul>
  </div>
</nav>
