@use "../../variables" as *;
.navbar {
  padding: 0 16px;
  background-color: $black;
  .navbar-brand {
    margin: 0;
    padding: 18px 0;
    img {
      width: 120px;
    }
  }
  .navbar-toggler {
    outline: none;
  }
  .navbar-nav {
    margin-left: 16px;
    //display: flex;
    .nav-item {
      font-size: $font-sizeS;
      padding: 15px 0px;
      .nav-link {
        padding: 0;
        @media screen and(min-width:$breakpoints-xl) {
          padding: 15px;
        }
      }
    }
    .nav-item.active.dropdown {
      .nav-item-concept-top {
        position: relative;
        .plus-img {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
    .nav-link.concept {
      text-decoration: none;
      padding: 15px 0;
      color: $white;
      cursor: pointer;
    }
    .nav-link.concept-lg {
      padding: 15px 0;
    }
    /*.icon-img-wrapper {
        padding-top: 15px;
        padding-bottom: 0px;
      }*/
    .submenu {
      .dropdown-toggle::after {
        display: none;
      }
      //.collapse submenu{
      //padding: 0;
      // margin-left: 12px;
      //background-color: $black;
      .dropdown-item {
        padding: 15px 0px;
        background-color: $black;
        color: $white;
      }
    }
  }
}

@media screen and(min-width: $breakpoints-xl) {
  .navbar {
    background-color: $black_50;
    .navbar-brand {
      img {
        width: 140px;
      }
    }
    .navbar-nav {
      margin-right: 30px;
      margin-left: auto;
      .nav-item.active {
        .nav-link {
          padding: 20px;
          transition-duration: 0.2s;
          &:hover {
            color: $gray_nobel;
          }
        }
      }
      .nav-item.active.dropdown {
        position: relative;
        &:hover {
          .collapse.submenu {
            display: block;
            position: absolute;
            width: 220px;
            top: 100%;

            :hover {
              background-color: $orange_bistre;
            }
          }
        }
        .nav-item-concept-top {
          .nav-link.concept {
          }
        }
        .dropdown-menu {
          transition-duration: 0.2s;
          transform: translateY(-10px);
          .dropdown-item {
            transition-duration: 0.2s;
            padding: 18px 50px 18px 18px;
            &:hover {
              background-color: $orange_bistre;
              color: $white;
            }
          }
        }
      }
    }
  }
}
