@use "../../variables" as *;
.news-wraper {
  margin-bottom: 32px;
}
.news-outline {
  margin-bottom: 30px;
  .news-link {
    text-decoration: none;
    &:hover .date-and-content .news-heading {
      color: $orange_bistre;
    }
    .date-and-content {
      padding: 20px 0px 53px 20px;
      border: solid 1px $gray_gainsboro;
      color: $black;
      height: 85px;
      transition: ease 0.2s;
      overflow: hidden;
      white-space: nowrap;
      font-size: $font-sizeM;
    }
    .news-date {
      margin-bottom: 10px;
      display: block;
      font-size: $font-sizeXS;
      color: $gray_nobel;
      line-height: 1;
    }
    .news-heading {
      transition: ease 0.2s;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
.news_list_outline {
  margin: 0px 30px 35px 0px;
  text-align: right;
}
