@use "../../variables" as *;
.organisms-plans {
  .plan-table-wrapper {
    @media screen and (min-width: $breakpoints-md) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      margin: 0px 24px 0px;
    }
    .plan {
      margin-bottom: 24px;
      @media screen and (min-width: $breakpoints-md) {
        margin-bottom: 40px;
      }
    }
  }
  .button {
    margin: auto;
    margin-bottom: 15px;
  }
}
