@use "../../variables" as *;
.message-wrapper {
  text-align: center;
}
.plan {
  margin-bottom: 24px;
}
.button {
  margin: auto;
}
@media screen and (min-width: $breakpoints-md) {
  .plan-table-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0px 24px 0px;
    .plan {
      margin-bottom: 40px;
    }
  }
}
