@use "../../variables" as *;
.Organisms-about {
  .container {
    max-width: none;
  }
  .message-wrapper {
    background-color: $white_smoke;
    text-align: center;
    padding: 32px 24px;
    h2 {
      color: $orange_bistre;
    }
  }
}
@media (min-width: $breakpoints-lg) {
  .Organisms-about {
    padding: 0 16px 100px;
    .message-wrapper {
      padding: 52px 26.5px;
    }
  }
}
