<div class="News-and-Events">
  <div class="row row-cols-1 row-cols-lg-2">
    <div class="news col">
      <div class="News-organisms">
        <div class="news-wraper">
          <h2 class="news-title">News</h2>
          <p class="announcement">お知らせ</p>
        </div>

        <div class="news-outline">
          <a href="#" class="news-link">
            <article class="date-and-content">
              <time class="news-date">2018.6.20</time>
              <p class="news-heading">
                ブックカフェ・コワーキング系サイト向け「Swich」をリリースしました!
              </p>
            </article>
          </a>

          <a href="#" class="news-link">
            <article class="date-and-content">
              <time class="news-date">2018.6.18</time>
              <p class="news-heading">
                3種のレイアウトから選択できるテンプレートを固定ページに実装
              </p>
            </article>
          </a>

          <a href="#" class="news-link">
            <article class="date-and-content">
              <time class="news-date">2018.6.12</time>
              <p class="news-heading">
                利用者からのご質問をまとめた「FAQ」ページをアップしました。
              </p>
            </article>
          </a>

          <a href="#" class="news-link">
            <article class="date-and-content">
              <time class="news-date">2018.6.8</time>
              <p class="news-heading">
                デモ用のサンプルデータを表示する「インポート機能」でサイト構築をよりスピーディに
              </p>
            </article>
          </a>

          <a href="#" class="news-link">
            <article class="date-and-content">
              <time class="news-date">2018.6.02</time>
              <p class="news-heading">テーマのアップデート情報について</p>
            </article>
          </a>
        </div>
        <div class="news_list_outline">
          <a class="news_list" href="#"
            >お知らせ一覧<i class="fas fa-chevron-right"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="events col">
      <div class="organisms-events">
        <div class="news-wraper">
          <h2 class="news-title">Event</h2>
          <p class="announcement">イベント</p>
        </div>
        <div class="event-outline">
          <a href="#" class="event-link">
            <article>
              <div class="events-img-wrapper">
                <img
                  src="../../../img/start-up-seminar.png"
                  class="event-img"
                  alt="内装の写真"
                />
              </div>
              <div class="event-article-outline">
                <p class="event-text">
                  全ての業種に対応した起業応援セミナーを開催します。
                </p>
                <time class="event-date">2018.08.23</time>
              </div>
            </article>
          </a>
          <a href="#" class="event-link">
            <article>
              <div class="events-img-wrapper">
                <img
                  src="../../../img/exchange-meeting.png"
                  class="event-img"
                  alt="人とパソコン"
                />
              </div>
              <div class="event-article-outline">
                <p class="event-text">
                  第3回&nbsp;Switchクリエイター交流会開催いたします!
                </p>
                <time class="event-date">2018.08.23</time>
              </div>
            </article>
          </a>
          <a href="#" class="event-link">
            <article>
              <div class="events-img-wrapper">
                <img
                  src="../../../img/beginner-course.png"
                  class="event-img"
                  alt="本棚"
                />
              </div>
              <div class="event-article-outline">
                <p class="event-text">
                  Webビジネス初心者の方必見!Webサイト作成講座を3回にわたって開催します。
                </p>
                <time class="event-date">2018.08.23</time>
              </div>
            </article>
          </a>
        </div>
        <div class="event-list-outline">
          <a class="news_list" href="#"
            >イベント一覧<i class="fas fa-chevron-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
