$color-example: #ff0000;
$fontsize-example: 16px;

//Color
$wihte: #ffffff;
$white_smoke: #f5f5f5;
$gray_desertStorm: #ece9e6;
$gray_gainsboro: #dddddd;
$gray_nobel: #999999;
$orange_zorba: #a19283;
$orange_bistre: #442606;
$black_50: rgba(0, 0, 0, 0.5);
$black: #000000;

//font-size
$font-sizeXS: 12px;
$font-sizeS: 14px;
$font-sizeM: 16px;
$font-sizeL: 20px;
$font-sizeXL: 36px;
$font-sizeXLL: 40px;

//font-family
$fontfamily-mincho: "Roboto", "Noto Serif JP", "Noto Sans JP";
$fontfamily-gothic: "Roboto", "Noto Serif JP", "Noto Sans JP";

//grid-breakpoints
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1400px;
