@use "../../variables" as *;
.organisms-cards {
  .row {
    margin: 0px 24px;
    .container {
      .col {
        padding: 0px 0px 100px 0px;
        @media screen and(max-width: $breakpoints-md) {
          margin-bottom: 40px;
        }
      }
    }
  }
}
