@use "../../variables" as *;
.organisms-cards {
  .container {
    .row {
      .col-md-4 {
        padding: 0px 12px;
      }
      @media screen and(min-width: $breakpoints-md) {
        margin: 0px 0px 100px 0px;
      }
      .card {
        @media screen and(max-width: $breakpoints-md) {
          margin-bottom: 40px;
        }
      }
    }
  }
}
